@model Turnos_Medicos.Models.Turno

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que quiere eliminar el turno?</h3>
<div>
    <h4>Turno</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha.Year) /
            @Html.DisplayFor(model => model.Fecha.Month) /
            @Html.DisplayFor(model => model.Fecha.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora.Hours) :
            @if (Model.Hora.Minutes < 10)
            {
                <span>0</span>
                @Html.DisplayFor(model => model.Hora.Minutes)
            }
            else
            {
                @Html.DisplayFor(model => model.Hora.Minutes)
            }
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Nombre)
        </dd>

        <dt>
            Medico
        </dt>

        <dd>
            @if (!Model.MedicoId.Equals(null))
            {
                @Html.DisplayFor(model => model.Medico.Persona.Apellido)
                <span>, </span>
                @Html.DisplayFor(model => model.Medico.Persona.Nombre)
            }
        </dd>

        <dt>
            Paciente
        </dt>

        <dd>
            @if (!Model.PacienteId.Equals(null))
            {
                @Html.DisplayFor(model => model.Paciente.Persona.Apellido)
                <span>, </span>
                @Html.DisplayFor(model => model.Paciente.Persona.Nombre)
            }
        </dd>

        <dt>
            Obra Social
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraSocial.Nombre)
        </dd>
        <dt>
            Consultorio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultorio.Nombre)
        </dd>

        <dt>
            Especialidad
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.Nombre)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Tarifa de la Obra Social
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraSocialTarifa)
        </dd>

        <dt>
            Costo Total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagado)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<a href="/Turnos/Index">
				<button class="btn btn-default" >Volver</button>
			</a>
            <input type="submit" value="Eliminar" class="btn btn-default" /> 
        </div>
    }
</div>
