@model IEnumerable<Turnos_Medicos.Models.Turno>

@{
    ViewBag.Title = "Liquidaciones";
}

<h2>Liquidaciones</h2>

<p>
    <a href="/Liquidaciones/PrintPDF" class="btn  btn-success">PDF</a>

</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            Especialidad
        </th>
        <th>
            Médico
        </th>
        <th>
            Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Consultorio
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha.Day)/@Html.DisplayFor(modelItem => item.Fecha.Month)/@Html.DisplayFor(modelItem => item.Fecha.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora.Hours) :
                @if (item.Hora.Minutes < 10)
                {
                    <span>0</span>
                    @Html.DisplayFor(modelItem => item.Hora.Minutes)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Hora.Minutes)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                @if (!item.MedicoId.Equals(null))
                {
                    @Html.DisplayFor(modelItem => item.Medico.Persona.Apellido)
                    <span>, </span>
                    @Html.DisplayFor(modelItem => item.Medico.Persona.Nombre)
                }
            </td>
            <td>
                @if (!item.PacienteId.Equals(null))
                {
                    @Html.DisplayFor(modelItem => item.Paciente.Persona.Apellido)
                    <span>, </span>
                    @Html.DisplayFor(modelItem => item.Paciente.Persona.Nombre)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
            </td>
        </tr>
    }

</table>
