@model Turnos_Medicos.Models.MedicoObraSocial

@{
    ViewBag.Title = "Eliminar Obra Social";
}

<h2>@ViewBag.Title</h2>

<h3>¿Esta seguro/a que desea eliminar la Obra Social del Médico?</h3>
<div>
    <h4>MedicoObraSocial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ObraSocial.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraSocial.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="/MedicoObraSociales/Index/@Model.MedicoId" class="btn btn-primary">
                Volver
            </a>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
