@model IEnumerable<Turnos_Medicos.Models.MedicoObraSocial>

@{
    ViewBag.Title = "Médico Obra Sociales";
    Turnos_Medicos.Models.Medico medico = ViewBag.Medico;
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="/MedicoObraSociales/Create/@medico.Id" class="btn btn-xs btn-success">
        Crear nuevo
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ObraSocial.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ObraSocial.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            <a href="/MedicoObraSociales/Delete/@item.Id" class="btn btn-xs btn-danger">Eliminar
            </a>
        </td>
    </tr>
}

</table>
