@model Turnos_Medicos.Models.PacienteAlergia

@{
    ViewBag.Title = "Eliminar la Alergia del Paciente";
}

<h2>ViewBag.Title</h2>

<h3>¿Esta seguro/a que desea eliminar la Alergia del paciente actual?</h3>
<div>
    <h4>Alergia del Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Model.Fecha.ToString("dd-MM-yyyy")
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
