@model Turnos_Medicos.Models.Medico

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.DNI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
