@model IEnumerable<Turnos_Medicos.Models.Turno>

@{
    ViewBag.Title = "Busqueda";
}

<h2>Busqueda</h2>

@using (Html.BeginForm("", "Agenda", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <p>
        Busqueda por Nombre: @Html.TextBox("Nombre_Medico") <br />
        <input type="submit" value="submit" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            Especialidad
        </th>
        <th>
            Medico
        </th>
        <th>
            Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Consultorio
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha.Year) /
                @Html.DisplayFor(modelItem => item.Fecha.Month) /
                @Html.DisplayFor(modelItem => item.Fecha.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora.Hours) :
                @if (item.Hora.Minutes < 10)
                {
                    <span>0</span>
                    @Html.DisplayFor(modelItem => item.Hora.Minutes)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Hora.Minutes)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                @if (!item.MedicoId.Equals(null))
                {
                    @Html.DisplayFor(modelItem => item.Medico.Persona.Apellido)
                    <span>, </span>
                    @Html.DisplayFor(modelItem => item.Medico.Persona.Nombre)
                }
            </td>
            <td>
                @if (!item.PacienteId.Equals(null))
                {
                    @Html.DisplayFor(modelItem => item.Paciente.Persona.Apellido)
                    <span>, </span>
                    @Html.DisplayFor(modelItem => item.Paciente.Persona.Nombre)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
            </td>
            <td>
                @if (item.PacienteId.Equals(null))
                {
                    <a href="/Turnos/Asignar/@item.Id">
                        <button class="btn btn-xs btn-success">Asignar</button>
                    </a>
                }
                else
                {
                    <a href="/Turnos/Cancelar/@item.Id">
                        <button class="btn btn-xs btn-warning">Cancelar</button>
                    </a>
                }
                <a href="/Turnos/Details/@item.Id">
                    <button class="btn btn-xs btn-info">Ver</button>
                </a>
                <a href="/Turnos/Delete/@item.Id">
                    <button class="btn btn-xs btn-danger">Eliminar Turno</button>
                </a>
            </td>
        </tr>
    }

</table>

