@model IEnumerable<Turnos_Medicos.Models.Turno>

@{
    ViewBag.Title = "Agenda";
}


<h2>Agenda</h2>



<div id='calendar'></div>


<script>
/*
 document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next,today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            header: {
                left: 'prev',
                center: 'title',
                right: 'Siguiente'
            },
            locale: "es",
            navLinks: true, // can click day/week names to navigate views
            businessHours: true, // display business hours
            editable: true,
            selectable: true,
            eventLimit: true,
            events: 'http://localhost:50072/Agenda/Calendar',
            eventRender: function eventRender(event, element, view) {
            return ['all', event.especialidad].indexOf($('#turno_selector').val()) >= 0
            }

        });


        $('#turno_selector').on('change', function () {
            $('#calendar').calendar('rerenderEvents');
        })

        calendar.render();
        });
        */
</script>


<!--
<h3>Filtrar</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-4">
            <label class="control-label col-md-2" for="Fecha">Fecha Inicial</label>
            <div class="col-md-10">
                <input class="form-control datepicker text-box single-line" data-val="true" data-val-date="The field Fecha must be a date." data-val-required="El campo Fecha es obligatorio." id="fecha_ini" name="fecha_ini" type="date" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="fecha_ini" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label col-md-2" for="Fecha">Fecha Fin</label>
            <div class="col-md-10">
                <input class="form-control datepicker text-box single-line" data-val="true" data-val-date="The field Fecha must be a date." data-val-required="El campo Fecha es obligatorio." id="fecha_fin" name="fecha_fin" type="date" value="">
                <span class="field-validation-valid text-danger" data-valmsg-for="fecha_fin" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group col-md-4">
            <p>
                Busqueda por Nombre: @Html.TextBox("Nombre_Medico") <br />
               
            </p>
        </div>
        <div class="form-group col-md-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filtrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}
        -->

@using (Html.BeginForm("", "Agenda", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<p> 
 Busqueda por Nombre de Médico: @Html.TextBox("Nombre_Medico") <br/>
    <button type="submit" style="color: black">Filtrar</button>
    <button type="button"><a style="color: black" href="/Agenda">Mostrar Todos</a></button>
</p>
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            Especialidad
        </th>
        <th>
            Médico
        </th>
        <th>
            Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Consultorio
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha.Day)/@Html.DisplayFor(modelItem => item.Fecha.Month)/@Html.DisplayFor(modelItem => item.Fecha.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora.Hours) :
                @if (item.Hora.Minutes < 10)
                {
                    <span>0</span>
                    @Html.DisplayFor(modelItem => item.Hora.Minutes)
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Hora.Minutes)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                @if (!item.MedicoId.Equals(null))
                {
                    @Html.DisplayFor(modelItem => item.Medico.Persona.Apellido)
                    <span>, </span>
                    @Html.DisplayFor(modelItem => item.Medico.Persona.Nombre)
                }
            </td>
            <td>
                @if (!item.PacienteId.Equals(null))
                {
                    @Html.DisplayFor(modelItem => item.Paciente.Persona.Apellido)
                    <span>, </span>
                    @Html.DisplayFor(modelItem => item.Paciente.Persona.Nombre)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" >
                        Operaciones
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        @if (item.PacienteId.Equals(null))
                        {
                            <li>
                                <a href="/Turnos/Asignar/@item.Id">Asignar</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/Turnos/Cancelar/@item.Id">Cancelar</a>
                            </li>
                        }
                        <li>
                            <a href="/Turnos/Details/@item.Id">Infromación</a>
                        </li>
                        <li>
                            <a href="/Turnos/Delete/@item.Id">Eliminar Turno</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
