@model Turnos_Medicos.Models.Consultorio

@{
    ViewBag.Title = "Eliminar Consultorio";
}

<h2>@ViewBag.Title</h2>

<h3>¿Esta seguro/a que desea eliminar el consultorio?</h3>
<div>
    <h4>Consultorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
