@model IEnumerable<Turnos_Medicos.Models.Consultorio>

@{
    ViewBag.Title = "Consultorios";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
           <!-- @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | -->
            <a href="/Consultorios/Edit/@item.Id">
                <button class="btn btn-xs btn-warning">Editar</button>
            </a> |
            <a href="/Consultorios/Details/@item.Id">
                <button class="btn btn-xs btn-info">Detalles</button>
            </a> |
            <a href="/Consultorios/Delete/@item.Id">
                <button class="btn btn-xs btn-danger">Eliminar</button>
            </a>
        </td>
    </tr>
}

</table>
