@model IEnumerable<Turnos_Medicos.Models.Persona>

@{ ViewBag.Title = "Listado de Persona"; }

<h2>Listado de Persona</h2>

<p>
    <a href="/Personas/Create/" class="btn btn-success">
        Crear nuevo Persona
    </a>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <h3>Buscar</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-4">
            <label class="control-label col-md-2" for="dni">DNI:</label>
            <div class="col-md-8">
                <input class="form-control datepicker text-box single-line" data-val="true" id="dni" name="dni" type="number" value="" min="1" max="99999999">
                <span class="field-validation-valid text-danger" data-valmsg-for="dni" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label col-md-2" for="apellido">Apellido:</label>
            <div class="col-md-8">
                <input class="form-control datepicker text-box single-line" data-val="true" id="apellido" name="apellido" type="text" value="" maxlength="30">
                <span class="field-validation-valid text-danger" data-valmsg-for="apellido" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label col-md-2" for="nombre">Nombre:</label>
            <div class="col-md-8">
                <input class="form-control datepicker text-box single-line" data-val="true" id="nombre" name="nombre" type="text" value="" maxlength="30">
                <span class="field-validation-valid text-danger" data-valmsg-for="nombre" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group col-sm-1">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Buscar" class="btn btn-info" />
            </div>
        </div>
    </div>
}

@if (Model.ToList().Count >= 1)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DNI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                            Operaciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/Personas/Details/@item.Id">Información</a>
                            </li>
                            <li>
                                <a href="/Personas/Edit/@item.Id">Modificar</a>
                            </li>
                            <li>
                                <a href="/Personas/Delete/@item.Id">Eliminar</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }

    </table>
}
else
{
    <table class="table">
    </table>
}