@model IEnumerable<Turnos_Medicos.Models.PacienteObraSocial>

@{
    ViewBag.Title = "Paciente - Obra Sociales";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeroAfiliado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObraSocial.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paciente.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroAfiliado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObraSocial.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paciente.Id)
        </td>
        <td>
            <a href="/PacienteObraSociales/Edit/@item.Id">
                <button class="btn btn-xs btn-warning">Editar</button>
            </a> |
            <a href="/PacienteObraSociales/Details/@item.Id">
                <button class="btn btn-xs btn-info">Detalles</button>
            </a> |
            <a href="/PacienteObraSociales/Delete/@item.Id">
                <button class="btn btn-xs btn-danger">Eliminar</button>
            </a>
        </td>
    </tr>
}

</table>
