
<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">Opciones <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="download">
        <li><a>@Html.ActionLink("Agenda de Turnos", "Index", "Agenda")</a></li>
        <li><a>@Html.ActionLink("Habilitar Agenda", "Create", "Agenda")</a></li>
        <li><a>@Html.ActionLink("Turnos Diarios", "Index", "Turnos")</a></li>
    </ul>
</li>


<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false">Opciones <span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="download">
        <li><a>@Html.ActionLink("Administrar Personas", "Index", "Personas")</a></li>
        <li><a>@Html.ActionLink("Administrar Pacientes", "Index", "Pacientes")</a></li>
        <li><a>@Html.ActionLink("Administrar Medicos", "Index", "Medicos")</a></li>
        <li><a>@Html.ActionLink("Administrar Obras Sociales", "Index", "ObraSociales")</a></li>
        <li><a>@Html.ActionLink("Administrar Consultorios", "Index", "Consultorios")</a></li>
        <li><a>@Html.ActionLink("Administrar Especialidades", "Index", "Especialidades")</a></li>
    </ul>
</li>