@if ((Session["user"] as Turnos_Medicos.Models.Usuario) != null)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false"> Menú <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="download">

            @if ((Session["user"] as Turnos_Medicos.Models.Usuario).Perfil.Nombre == "Paciente")
            {
                <li><a>@Html.ActionLink("Turnos Diarios", "Index", "Turnos")</a></li>
                <li><a>@Html.ActionLink("Agenda de Turnos", "Index", "Agenda")</a></li>
            }

            @if ((Session["user"] as Turnos_Medicos.Models.Usuario).Perfil.Nombre == "Secretaria")
            {
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false" tabindex="-1"> Administrar Turnos </a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a>@Html.ActionLink("Turnos Diarios", "Index", "Turnos")</a></li>
                        <li><a>@Html.ActionLink("Agenda de Turnos", "Index", "Agenda")</a></li>
                        <li><a>@Html.ActionLink("Habilitar Agenda", "Create", "Agenda")</a></li>
                        <li><a>@Html.ActionLink("Habilitar Agenda Por Medico", "CreateMedico", "Agenda")</a></li>
                        <li><a>@Html.ActionLink("Cancelar Turnos", "CancelarMedico", "Turnos")</a></li>
                        <li><a>@Html.ActionLink("Presencialidad", "Presencialidad", "Turnos")</a></li>
                    </ul>
                </li>
                <li><a>@Html.ActionLink("Administrar Pacientes", "Index", "Pacientes")</a></li>
                <li><a>@Html.ActionLink("Administrar Medicos", "Index", "Medicos")</a></li>
                <li><a>@Html.ActionLink("Administrar Obras Sociales", "Index", "ObraSociales")</a></li>
                <li><a>@Html.ActionLink("Administrar Consultorios", "Index", "Consultorios")</a></li>
                <li><a>@Html.ActionLink("Administrar Especialidades", "Index", "Especialidades")</a></li>
                <li><a>@Html.ActionLink("Administrar Liquidaciones Semanales", "Index", "Liquidaciones")</a></li>
                <li><a>@Html.ActionLink("Administrar Liquidaciones de Obra Social", "Index", "LiquidacionesObraSocial")</a></li>
                <li><a>@Html.ActionLink("Administrar Personas", "Index", "Personas")</a></li>
            }

            @if ((Session["user"] as Turnos_Medicos.Models.Usuario).Perfil.Nombre == "Medico")
            {
                <li><a>@Html.ActionLink("Turnos Diarios", "Index", "Turnos")</a></li>
                <li><a>@Html.ActionLink("Agenda de Turnos", "Index", "Agenda")</a></li>
                <li><a>@Html.ActionLink("Cancelar Turnos", "CancelarMedico", "Turnos")</a></li>
            }

            @if ((Session["user"] as Turnos_Medicos.Models.Usuario).Perfil.Nombre == "Admin")
            {
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false" tabindex="-1"> Administrar Turnos </a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                        <li><a>@Html.ActionLink("Turnos Diarios", "Index", "Turnos")</a></li>
                        <li><a>@Html.ActionLink("Agenda de Turnos", "Index", "Agenda")</a></li>
                        <li><a>@Html.ActionLink("Habilitar Agenda", "Create", "Agenda")</a></li>
                        <li><a>@Html.ActionLink("Hab. Agenda p/ Médico", "CreateMedico", "Agenda")</a></li>
                        <li><a>@Html.ActionLink("Cancelar Turnos", "CancelarMedico", "Turnos")</a></li>
                        <li><a>@Html.ActionLink("Presencialidad", "Presencialidad", "Turnos")</a></li>
                    </ul>
                </li>
                <li><a>@Html.ActionLink("Administrar Pacientes", "Index", "Pacientes")</a></li>
                <li><a>@Html.ActionLink("Administrar Medicos", "Index", "Medicos")</a></li>
                <li><a>@Html.ActionLink("Administrar Obras Sociales", "Index", "ObraSociales")</a></li>
                <li><a>@Html.ActionLink("Administrar Consultorios", "Index", "Consultorios")</a></li>
                <li><a>@Html.ActionLink("Administrar Especialidades", "Index", "Especialidades")</a></li>
                <li><a>@Html.ActionLink("Administrar Liquidaciones", "Index", "Liquidaciones")</a></li>
                <li><a>@Html.ActionLink("Administrar Liquidaciones de Obra Social", "Index", "LiquidacionesObraSocial")</a></li>
                <li><a>@Html.ActionLink("Administrar Personas", "Index", "Personas")</a></li>
                <li><a>@Html.ActionLink("Administrar Usuarios", "Index", "Usuarios")</a></li>
                <li><a>@Html.ActionLink("Administrar Perfiles", "Perfiles", "Usuarios")</a></li>
            }
        </ul>
    </li>
}




