@if ((Session["user"] as Turnos_Medicos.Models.Usuario) != null)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false"> Secretaría <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="download">

            <li><a>@Html.ActionLink("Turnos Diarios", "Index", "Turnos")</a></li>
            <li><a>@Html.ActionLink("Agenda de Turnos", "Index", "Agenda")</a></li>
            <li><a>@Html.ActionLink("Habilitar Agenda", "Create", "Agenda")</a></li>
            <li><a>@Html.ActionLink("Cancelar Turnos", "CancelarMedico", "Turnos")</a></li>
            <li><a>@Html.ActionLink("Administrar Pacientes", "Index", "Pacientes")</a></li>
            <li><a>@Html.ActionLink("Administrar Medicos", "Index", "Medicos")</a></li>
            <li><a>@Html.ActionLink("Administrar Obras Sociales", "Index", "ObraSociales")</a></li>
            <li><a>@Html.ActionLink("Administrar Consultorios", "Index", "Consultorios")</a></li>
            <li><a>@Html.ActionLink("Administrar Especialidades", "Index", "Especialidades")</a></li>
        </ul>
    </li>
}

@if ((Session["user"] as Turnos_Medicos.Models.Usuario) != null)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false"> Médico <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="download">
          <!--  <li><a>@Html.ActionLink("Administrar Personas", "Index", "Personas")</a></li> -->
            <li><a>@Html.ActionLink("Turnos Diarios", "Index", "Turnos")</a></li>
            <li><a>@Html.ActionLink("Agenda de Turnos", "Index", "Agenda")</a></li>
            <li><a>@Html.ActionLink("Habilitar Agenda", "Create", "Agenda")</a></li>
            <li><a>@Html.ActionLink("Cancelar Turnos", "CancelarMedico", "Turnos")</a></li>
            
            
        </ul>
    </li>
}

@if ((Session["user"] as Turnos_Medicos.Models.Usuario) != null)
{
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false"> Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="download">
            <li><a>@Html.ActionLink("Administrar Estados", "Index", "Estados")</a></li>
            <li><a>@Html.ActionLink("Horarios de Médicos", "Index", "MedicoHorarios")</a></li>
            <li><a>@Html.ActionLink("Médico - Obra Sociales", "Index", "MedicoObraSociales")</a></li>
            <li><a>@Html.ActionLink("Administrar Obras Sociales", "Index", "ObraSociales")</a></li>
            <li><a>@Html.ActionLink("Tarifas de Obras Sociales", "Index", "ObraSocialTarifas")</a></li>
            <li><a>@Html.ActionLink("Pacientes - Obras Sociales", "Index", "PacienteObraSociales")</a></li>


        </ul>
    </li>
}


