@model Turnos_Medicos.Models.Paciente

@{
    ViewBag.Title = "Detalles";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>

        <dt>
            Fecha de Nacimiento
        </dt>

        <dd>
            @Model.Persona.FechaNacimiento.ToString("dd-MM-yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Calle)
        </dd>

        <dt>
            Número
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Email)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Celular)
        </dd>

    </dl>
</div>



<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-info" }) 

</p>
