@model IEnumerable<Turnos_Medicos.Models.ObraSocial>

@{
    ViewBag.Title = "Obra Sociales";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            <a href="/ObraSociales/Edit/@item.Id">
                <button class="btn btn-xs btn-warning">Editar</button>
            </a> |
            <a href="/ObraSociales/Details/@item.Id">
                <button class="btn btn-xs btn-info">Detalles</button>
            </a> |
            <a href="/ObraSociales/Delete/@item.Id">
                <button class="btn btn-xs btn-danger">Eliminar</button>
            </a>
        </td>
    </tr>
}

</table>
