@model IEnumerable<Turnos_Medicos.Models.PacienteHistorial>

@{
    ViewBag.Title = "Historial del Paciente";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Observacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Observacion)
        </td>
        <td>
            @item.Fecha.ToString("yyyy-MM-dd")
        </td>
        <td>
            <a href="/PacienteHistoriales/Edit/@item.Id">
                <button class="btn btn-xs btn-warning">Editar</button>
            </a> |
            <a href="/PacienteHistoriales/Details/@item.Id">
                <button class="btn btn-xs btn-info">Detalles</button>
            </a> |
            <a href="/PacienteHistoriales/Delete/@item.Id">
                <button class="btn btn-xs btn-danger">Eliminar</button>
            </a>
        </td>
    </tr>
}

</table>
