@model Turnos_Medicos.Models.ObraSocialTarifa

@{
    ViewBag.Title = "Eliminar Tarifa";
}

<h2>@ViewBag.Title</h2>

<h3>¿Está seguro/a que desea eliminar la tarifa de la Obra Social?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.tarifa, "Tarifa", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarifa)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Especialidad, "Especialidad", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.ObraSocial.Nombre, "Obra Social", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObraSocial.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Borrar" class="btn btn-default" />
</div>
    }
</div>
