@model IEnumerable<Turnos_Medicos.Models.ObraSocialTarifa>

@{
    Turnos_Medicos.Models.ObraSocial obra = ViewBag.ObraSocial;
    ViewBag.Title = "Index";
}

<p style="margin-top: 15px;">
    <a href="/ObraSocialTarifas/Create/@obra.Id" class="btn btn-xs btn-success">
        Crear nuevo
    </a>
</p>

<h3>@obra.Nombre</h3>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Especialidad.Nombre)
        </th>
        <th>
            @Html.Label("Tarifa")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tarifa)
        </td>
        <td>
            <a href="/ObraSocialTarifas/Edit/@item.Id" class="btn btn-xs btn-warning">
                Editar
            </a>
            <a href="/ObraSocialTarifas/Delete/@item.Id" class="btn btn-xs btn-danger">
                Eliminar
            </a>
        </td>
    </tr>
}

</table>
