@model Turnos_Medicos.Models.MedicoHorario
@using System.Globalization

@{
    ViewBag.Title = "Crear Horario";
}

<h2>Crear Horario</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>MedicoHorario</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" hidden>
        @Html.LabelFor(model => model.MedicoId, "MedicoId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MedicoId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MedicoId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ConsultorioId, "ConsultorioId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ConsultorioId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConsultorioId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Dia">Dia</label>
        <div class="col-md-10">
            <select class="form-control valid" id="Dia" name="Dia">
                @for (var c = 0; c < 7; c++)
                {
                <option value="@c" >@(new CultureInfo("es-ES").DateTimeFormat.DayNames[c])</option>
                }
            </select>
            <span class="field-validation-valid text-danger" data-valmsg-for="Dia" data-valmsg-replace="true"></span>
        </div>
    </div>


 
    <div class="form-group">
        <label class="control-label col-md-2" for="Inicio">Inicio</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="El campo Inicio es obligatorio." id="Inicio" name="Inicio" type="time" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="Inicio" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="Fin">Fin</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="El campo Fin es obligatorio." id="Fin" name="Fin" type="time" value="">
            <span class="field-validation-valid text-danger" data-valmsg-for="Fin" data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <a href="/MedicoHorarios/Index/@Model.MedicoId" class="btn btn-xs btn-default">
        Volver
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
