@model Turnos_Medicos.Models.MedicoHorario
@using System.Globalization

@{
    ViewBag.Title = "Eliminar Horario";
}

<h2>@ViewBag.Title</h2>

<h3>¿Esta seguro/a que desea eliminar este horario del Médico?</h3>
<div>
    <h4>MedicoHorario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>

        <dd>
            @(new CultureInfo("es-ES").DateTimeFormat.DayNames[Model.Dia])
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inicio)
        </dt>

        <dd>
            @Model.Inicio.ToString("hh\\:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fin)
        </dt>

        <dd>
            @Model.Fin.ToString("hh\\:mm")
        </dd>

        <dt>
            Consultorio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consultorio.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="/MedicoHorarios/Index/@Model.MedicoId" class="btn btn-default">
                Volver
            </a>
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        </div>
    }
</div>
