@model IEnumerable<Turnos_Medicos.Models.MedicoHorario>
@using System.Globalization;

@{
    ViewBag.Title = "Horarios de los Médicos";
    Turnos_Medicos.Models.Medico medico = ViewBag.Medico;
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="/MedicoHorarios/Create/@medico.Id" class="btn btn-xs btn-success">
        Crear nuevo
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultorio.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @(new CultureInfo("es-ES").DateTimeFormat.DayNames[item.Dia])
        </td>
        <td>
            @item.Inicio.ToString("hh\\:mm")
        </td>
        <td>
            @item.Fin.ToString("hh\\:mm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
        </td>
        <td>
            <a href="/MedicoHorarios/Edit/@item.Id" class="btn btn-xs btn-warning">Editar
            </a>
            <a href="/MedicoHorarios/Delete/@item.Id" class="btn btn-xs btn-danger">Eliminar
            </a>
        </td>
    </tr>
}

</table>
