@model IEnumerable<Turnos_Medicos.Models.MedicoHorario>

@{
    ViewBag.Title = "Medico Horarios";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consultorio.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medico.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medico.Id)
        </td>
        <td>
            <a href="/MedicoHorarios/Edit/@item.Id">
                <button class="btn btn-xs btn-warning">Editar</button>
            </a> |
            <a href="/MedicoHorarios/Details/@item.Id">
                <button class="btn btn-xs btn-info">Detalles</button>
            </a> |
            <a href="/MedicoHorarios/Delete/@item.Id">
                <button class="btn btn-xs btn-danger">Eliminar</button>
            </a>
        </td>
    </tr>
}

</table>
