@model IEnumerable<Turnos_Medicos.Models.Turno>

@{
    ViewBag.Title = "Liquidaciones para Obra Social";
    DateTime fecha_ini = ViewBag.Fecha_Ini;
    DateTime fecha_fin = ViewBag.Fecha_Fin;
    IEnumerable<Turnos_Medicos.Models.ObraSocial> obra_social = ViewBag.ObraSocial;
    int? obra_social_cagada = ViewBag.ObraSocialCargada;
}

<h2>Liquidaciones para Obra Social</h2>


@if (!(obra_social_cagada >= 1))
{
<form action="/LiquidacionesObraSocial/Index/" method="get" novalidate="novalidate">

    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <h3>Buscar</h3>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-sm-4">
            <label class="control-label col-md-3" for="obra_social">Obra Social:</label>
            <div class="col-md-8">
                <input class="form-control datepicker text-box single-line" data-val="true" id="obra_social" name="obra_social" type="text" value="" maxlength="30">
                <span class="field-validation-valid text-danger" data-valmsg-for="obra_social" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group col-sm-1">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

    if (obra_social != null)
    {
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th></th>
            </tr>

            @foreach (var item in obra_social)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <form action="/LiquidacionesObraSocial/Index/" method="get" novalidate="novalidate">
                                <div class="form-group col-sm-4" hidden>
                                    <div class="col-md-8">
                                        <input class="form-control datepicker text-box single-line" data-val="true" id="id_obra_social" name="id_obra_social" type="number" value="@item.Id">
                                    </div>
                                </div>
                                <div class="form-group col-sm-1">
                                    <div class="col-md-offset-2 col-md-1">
                                        <input type="submit" value="Seleccionar" class="btn btn-success" />
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
            }

        </table>
    }
}
else {


using (Html.BeginForm("", "LiquidacionesObraSocial", FormMethod.Get))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-12">
        <hr />
        <h3>Filtrar</h3>
        <div class="form-group col-md-5">
            <label class="control-label col-md-2" for="Fecha">Fecha Inicial</label>
            <div class="col-md-6">
                <input class="form-control datepicker text-box single-line" data-val="true" data-val-date="The field Fecha must be a date." data-val-required="El campo Fecha es obligatorio." id="fecha_ini" name="fecha_ini" type="date" value="@fecha_ini.ToString("yyyy-MM-dd")">
                <span class="field-validation-valid text-danger" data-valmsg-for="fecha_ini" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label class="control-label col-md-2" for="Fecha">Fecha Fin</label>
            <div class="col-md-6">
                <input class="form-control datepicker text-box single-line" data-val="true" data-val-date="The field Fecha must be a date." data-val-required="El campo Fecha es obligatorio." id="fecha_fin" name="fecha_fin" type="date" value="@fecha_fin.ToString("yyyy-MM-dd")">
                <span class="field-validation-valid text-danger" data-valmsg-for="fecha_fin" data-valmsg-replace="true"></span>
            </div>
        </div>
        <input id="id_obra_social" name="id_obra_social" type="hidden" value="@obra_social_cagada">
        <div class="form-group col-sm-2">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="col-md-12">
@using (Html.BeginForm("PrintPDF", "LiquidacionesObraSocial", FormMethod.Get))
{
    @Html.AntiForgeryToken()
                <input id="fecha_ini" name="fecha_ini" type="hidden" value="@fecha_ini.ToString("yyyy-MM-dd")">
                <input id="fecha_fin" name="fecha_fin" type="hidden" value="@fecha_fin.ToString("yyyy-MM-dd")">
                <input id="id_obra_social" name="id_obra_social" type="hidden" value="@obra_social_cagada">
                <input type="submit" value="Descargar PDF" class="btn btn-default" />
}


@using (Html.BeginForm("EnviarLiquidacion", "LiquidacionesObraSocial", FormMethod.Get))
{
    @Html.AntiForgeryToken()
                <input id="fecha_ini" name="fecha_ini" type="hidden" value="@fecha_ini.ToString("yyyy-MM-dd")">
                <input id="fecha_fin" name="fecha_fin" type="hidden" value="@fecha_fin.ToString("yyyy-MM-dd")">
                <input id="id_obra_social" name="id_obra_social" type="hidden" value="@obra_social_cagada">
                <input type="submit" value="Enviar Liquidación" class="btn btn-default" />
}
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora)
        </th>
        <th>
            Especialidad
        </th>
        <th>
            Médico
        </th>
        <th>
            Paciente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            Consultorio
        </th>
    </tr>


    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Estado.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha.Day)/@Html.DisplayFor(modelItem => item.Fecha.Month)/@Html.DisplayFor(modelItem => item.Fecha.Year)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hora.Hours) :
        @if (item.Hora.Minutes < 10)
        {
<span>0</span>
                    @Html.DisplayFor(modelItem => item.Hora.Minutes) }
                                    else
                                    {
                    @Html.DisplayFor(modelItem => item.Hora.Minutes)                }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
    </td>
    <td>
        @if (!item.MedicoId.Equals(null))
        {
@Html.DisplayFor(modelItem => item.Medico.Persona.Apellido)
                    <span>, </span>
                                        @Html.DisplayFor(modelItem => item.Medico.Persona.Nombre)                }
    </td>
    <td>
        @if (!item.PacienteId.Equals(null))
        {
@Html.DisplayFor(modelItem => item.Paciente.Persona.Apellido)
                    <span>, </span>
                                        @Html.DisplayFor(modelItem => item.Paciente.Persona.Nombre)                }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Consultorio.Nombre)
    </td>
</tr>}

</table>

 }