@model IEnumerable<Turnos_Medicos.Models.Usuario>

@{
    ViewBag.Title = "Listado de Usuarios";
}

<h2>ViewBag.Title</h2>

<p>
    <a href="/Usuarios/Create/" class="btn btn-success">
        Crear nuevo Usuario
    </a>
</p>



<table class="table">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bloqueado)
        </th>
        <th>
            Perfil
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @item.Bloqueado
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perfil.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
